*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	color:#fff;
}
/*REUSABLES*/
.text-white{
	color: #fff;
}
.text-heavy{
	font-weight: 700;
}
.btn-labcar{
	background:#f7b617; 
}
/*NAV*/
div.container:first-child{
	padding: 0;
}
.container a{
	margin:0 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.container a:hover{
	text-decoration: none;
	color: #2d2c1f;
}
.navbar-header{
	margin: 0 !important;

}
.navbar-header button{
	margin-left: 20px;
	border: none;
}

.nav li{
	padding: 5px 0;
}
/*HEADER*/
#bienvenida .container-fluid{
	background-image: url(../img/taxi.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-size:100% 100%;
	padding: 0;
}

.text-dk{
	background: #f7b617;
	padding: 40px;
	margin: 250px 0;
	font-family: 'Raleway', sans-serif;
}
.text-mv{
	background: #f7b617;
	padding: 10px;
	margin: 50px 0;
	font-family: 'Raleway', sans-serif;

}

.col-lg-offset-6{
	padding: 0;
}
.text-white img{
	width: 80px;
	height: 20px;
}
/*INFORMACION*/
#informacion{
	background: #f7b617;
	padding: 80px;
	position: relative;
}

}
#informacion .row{
	padding: 35px;
	
}
p{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px){
	.border-block{
	width: 100%;
	height: 500px;
	border: 1px solid #fff;
	position: absolute;
	top: 5%;
	left: 0;
	}
	.border-img{
		display: none;
	}
	/*.text-header-movil{
		display: none;
	}
	.text-up{
		display: block;
	}

*/
}
.border-img{
	border: 1px solid #fff;
	padding: 20px;

}

/**CONDUCE*/
#conduce .container-fluid{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-position: 300 30;
	padding: 0;
}

#conduce .row div{
		/*background-image:  url(../img/conduce.jpg);
		background-size: cover;
		background-repeat: no-repeat;*/
		padding: 90px 25px;
		background: rgba(71,71,69,0.6);

	}
#conduce button{
	font-family: 'Open Sans', sans-serif;
}
/*TARIFA*/
#tarifa{
	background: #f7b617;
	padding: 50px;
	font-family: 'Open Sans', sans-serif;

}



/*API*/
#map {
        padding: 30px;
        width: 500px;
        height: 500px;
        border: 1px solid #fff;

       }



footer{
	background: #2b2b2b;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}

.redes{
	
}
.icons{
	
}
.icons a{
	margin: 10px;
	color: #FFF;

}
.link1, .link2{
	list-style: none;
	
}
.link1 li, .link2 li{
	margin: 25px 0;
}
.link1 li a, .link2 li a{
	color: #fff;
}
.link1 li a:hover, .link2 li a:hover{
	color: #f7b617; 
}
.img-foot{
	margin-top: 40px;
}
.img-foot img{
	margin: 10px;
}
@media (max-width: 768px){
	.link2{
		display: none;

	}

}
.row{
	padding: 0;
	margin: 0;
}