*{
	box-sizing: border-box;
	color:#fff;
}
/*REUSABLES*/
.m-0{
	margin: 0;
}
.p-0{
	padding: 0;
}
.text-white{
	color: #fff;
}
.text-heavy{
	font-weight: 600;
}
.btn-labcar{
	background:#f7b617;
}
.bg{
	background:#f7b617;
}
.flex{
	display: flex;
	flex-flow: row;
}

/*NAV*/
.logo-brand{
	width: 100%;
	height: 100%;
	padding:20px 0;
}
#btn-menu a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}
#btn-menu a:hover{
	text-decoration: none;
	color: #2d2c1f;
}
.navbar-header button{
	margin-left: 20px;
	margin-top: 15px;
	border: none;
}
.navbar-toggle:hover{
	background: transparent !important;
}

ul li{
	padding: 20px;
}
/*HEADER*/
#welco .container-fluid{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-position: center;
	height: 98vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
}
.logo-blanco{
	width: 90px;
	height: 20px;
}
#welco input{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
}
.text-mv{
	background: #f7b617;
	padding: 25px 30px;
	font-family: 'Raleway', sans-serif;
}



/*INFORMACION*/
#information{
	padding: 40px 20px;
}
.border-block{
	border: 1px solid #fff;
	padding: 30px;
}
.mt-38{
	margin-top: 38px;
	font-size: 20px;
}

/*DRIVE*/
#drive {
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 3% 34%;
	height: 38vh;
}
.drive-dk{
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: 30px;
		height: 38vh;
}
#drive button{
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px){
	/*nav*/
	.logo-brand{
		padding-top: 30px;
	}
	/*header*/
	#welco .container-fluid{
		background-image: url(../img/taxi.jpg);
		background-size: cover;
		background-position: center 91%;
		height: 98vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: flex-start;
	}
	.text-dk{
		background: #f7b617;
		padding: 50px ;
		font-family: 'Raleway', sans-serif;
	}
	/*information*/
	
	p{
		font-size: 26px;
		font-family: 'Open Sans', sans-serif;
	}
	#information{
		padding: 35px 150px 35px 0;
	}
	.border-block{
		border: 1px solid #fff;
		border-left: none;
		padding: 35px;
	}
	/*drive*/
	#drive{
		background-position: 90% 54%;
		height: 70vh;	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: flex-start;
	}
	.drive-dk{
		padding: 80px 30px;	
		height: 70vh;	
	}
	/*TARIFA*/
	.form-group{
	display: block !important;
}



}



/*TARIFA*/
#tarifa{
	font-family: 'Open Sans', sans-serif;
	padding: 80px 0;
}
.form-group{
	margin:20px 0; 
}
.form-control{
	display: inline-block !important;
}
.glyphicon{
	margin-right: 10px;
}
#tarifa input[type="text"]{
	background: transparent;
	border: 1px solid #fff;
	width: 90%;
	color: #fff;
}
#tarifa input[type="text"]::placeholder{
	color: #fff;
}
::-moz-placeholder{
	color:#fff;
}
#tarifa input[type="text"]:focus{	
  border:1px solid #fff;
  box-shadow: 0 0 7px #FFF ;
}

#cost{
	display: flex;
	justify-content: center;align-items: center;
	width: 100px;
	height: 100px;
	font-size: 30px;
	color:#f7b617;
	background: #383a3d;
}

/*API*/
#map {
        padding: 30px;
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
    }

footer{
	background: #2b2b2b;
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
}

.redes{

}
.icons{

}
.icons a{
	margin: 10px;
	color: #FFF;

}
.link1, .link2{
	list-style: none;

}
.link1 li, .link2 li{
	margin: 25px 0;
}
.link1 li a, .link2 li a{
	color: #fff;
}
.link1 li a:hover, .link2 li a:hover{
	color: #f7b617;
}
.img-foot{
	margin-top: 40px;
}
.img-foot img{
	margin: 10px;
}
@media (max-width: 768px){
	.link2{
		display: none;

	}

}
